<header class="header container">
    <nav class="nav">
        <div class="nav__logo">
            <object data="assets/image/logo.svg"></object>
        </div>
        <ul class="nav__menu">
            <li class="nav__item">
                <a class="nav__link">New in</a>
            </li>
            <li class="nav__item">
                <a class="nav__link">Tất cả sản phẩm</a>
            </li>
            <li class="nav__item">
                <object data="assets/image/mybear.svg"></object>
                <a class="nav__link">That's My Bear</a>
            </li>
            <li class="nav__item">
                <a class="nav__link">Cửa hàng</a>
            </li>
            <li class="nav__item">
                <a class="nav__link">Chính sách</a>
            </li>
        </ul>
        <ul class="nav__menu">
            <li class="nav__item">
                <a class="nav__link"> <fa-icon [icon]="faSearch"></fa-icon></a>
            </li>
            <li class="nav__item">
                <a class="nav__link"> <fa-icon [icon]="faShoppingBag"></fa-icon></a>
            </li>
            <li class="nav__item">
                <a class="nav__link"> <fa-icon [icon]="faUser"></fa-icon></a>
            </li>
        </ul>
    </nav>
</header>
