<div class="grid grid-nogutter mt-5">
    <div class="col-12 support"><i class="pi pi-phone"></i> Hỗ trợ / Mua hàng: <a>099999999</a></div>
</div>
<div class="grid grid-nogutter footer">
    <div class="col-6">
        <strong> Hệ thống cửa hàng </strong>

        <ul>
            <li>
                <i class="pi pi-building"></i>Chi Nhánh Hồ Chí Minh
                <p>Quận 10 - 561 Sư Vạn Hạnh, Phường 13.</p>
                <p>Quận Tân Bình - 136 Nguyễn Hồng Đào, Phường 14.</p>
                <p>Quận 1 - The New Playground 26 Lý Tự Trọng, Phường Bến Nghé.</p>
            </li>
            <li>
                <i class="pi pi-building"></i>Chi Nhánh Biên Hòa:
                <p>QTP.Biên Hòa - 151A Phan Trung, Phường Tân Mai.</p>
            </li>
            <li>
                <i class="pi pi-building"></i>Chi Nhánh Cần Thơ:
                <p>Quận Ninh Kiều - 52 Mậu Thân, Phường An Phú.</p>
            </li>
        </ul>
    </div>
    <div class="col-3">
        <strong> Mạng xã hội </strong>

        <ul class="flex">
            <li>
                <i class="pi pi-facebook"></i>
            </li>
            <li>
                <i class="pi pi-youtube"></i>
            </li>
            <li>
                <i class="pi pi-instagram"></i>
            </li>
        </ul>
    </div>

    <div class="col-3">
        <strong> Fanpage </strong>
        <img src="assets/images/fanpage.jpg" alt="" />
    </div>
</div>
