$text-color: #3d4246;
$text-color-light: #666;
$text-color-white: #fff;
$text-color-black: #000;
$bg-color-white: #fff;
$bg-color-main: #f1f1f1;
$bg-color-black: #000;
$border-color-dark: #ccc;
$border-color-black: #000;
$color-main: #000;
$text-large: 3.2rem;
$text-medium: 2.4rem;
$text-mediumer: 2rem;
$text-small: 1.6rem;
$text-tiny: 1.4rem;
