$primary-color: hsl(45, 100%, 51%);

$text-color-dark: hsl(0, 0%, 18%);
$text-color: hsl(0, 0%, 22%);
$text-color-light: hsl(0, 0%, 26%);

$white-color: hsl(0, 0%, 100%);

$bg-black: hsl(0, 0%, 13%);
$bg-yellow: hsl(44, 99%, 48%);
$bg-white: hsl(0, 0%, 100%);

$header-height: 3rem;
// border-bottom: 1px solid rgba(192, 194, 203, 0.5)
// box-shadow: 0 1px 5px rgb(0 0 0 / 16%);