$primary-color: hsl(44, 99%, 48%);

$text-color-dark: hsl(0, 0%, 18%);
$text-color: hsl(0, 0%, 22%);
$text-color-light: hsl(0, 0%, 26%);

$white-color: hsl(0, 0%, 100%);

$bg-black: hsl(0, 0%, 13%);
$bg-yellow: hsl(44, 99%, 48%);
$bg-white: hsl(0, 0%, 100%);

$header-height: 4rem;

$font-family-main:'Montserrat', sans-serif;
$font-family-sub:'Rubik', sans-serif;

$font-regular:400;
$font-medium:500;
$font-semibold:600;
$font-bold:700;