<section class="product-detail">
    <div class="grid align-items-stretch">
        <div class="col-7 align-items-center justify-content-center bg-blue-500 font-bold text-white border-round" style="min-width: 200px; min-height: 50px">1</div>
        <div class="col-5 align-items-center justify-content-center">
            <div class="product-detail-right">
                <h3 class="product-title">
                    Áo Polo Nam OriginalBear Chất Vải CVC
                </h3>
                <div class="product-price">
                    <span>299.000 đ</span>
                </div>
                <div class="product-size">
                    <div class="product-size__title">Size:</div>
                    <ul class="product-size-list">
                        <li class="product-size-item inline-block"><button label="S" pButton pRipple type="button" class="p-button-rounded p-button-outlined"></button></li>
                        <li class="product-size-item inline-block"><button label="S" pButton pRipple type="button" class="p-button-rounded p-button-outlined"></button></li>
                        <li class="product-size-item inline-block"><button label="S" pButton pRipple type="button" class="p-button-rounded p-button-outlined"></button></li>
                        <li class="product-size-item inline-block"><button label="S" pButton pRipple type="button" class="p-button-rounded p-button-outlined"></button></li>
                        <li class="product-size-item inline-block"><button label="S" pButton pRipple type="button" class="p-button-rounded p-button-outlined"></button></li>
                    </ul>
                    <div class="product-size-recommend">Bảng size</div>
                </div>
                <div class="btn-action">
                    <button pButton pRipple type="button" icon="pi pi-heart" class="p-button-outlined p-button-secondary">
                    </button>
                    <button pButton pRipple type="button" label="Thêm vào giỏ" class="p-button-warning"></button>
                </div>
                <div class="product-info">
                    <h2 class="product-info-title">Thông tin</h2>
                    <div class="product-info-field">
                        <span class="product-info-key">Chất liệu:</span>
                        <span class="product-info-value">Cá sấu CVC</span>

                    </div>
                    <div class="product-info-field">
                        <span class="product-info-key">Chi tiết:</span>
                        <span class="product-info-value">	Chất liệu CVC được dệt từ sợi hỗn hợp polyester với cotton</span>

                    </div>
                    <div class="product-info-field">
                        <span class="product-info-key">Màu sắc:</span>
                        <span class="product-info-value">Trắng</span>
                    </div>

                </div>
            </div>
        </div>

    </div>`
</section>
