<div class="auth__wrapper mt-6">
    <div class="sign sign__in">
        <p class="sign__name">Đăng nhập</p>

        <span class="p-input-icon-left mb-3">
            <i class="pi pi-envelope"></i>
            <input type="text" pInputText placeholder="Email" class="input" />
        </span>

        <span class="p-input-icon-left mb-3">
            <i class="pi pi-lock"></i>
            <input type="text" pInputText placeholder="Password" class="input" />
        </span>

        <button class="mb-3 sign__button">Đăng nhập</button>

        <a class="mb-3 sign__forgot">Quên mật khẩu ?</a>
    </div>

    <div class="sign sign__up">
        <p class="sign__name">Đăng ký</p>

        <span class="p-input-icon-left mb-3">
            <i class="pi pi-user"></i>
            <input type="text" pInputText placeholder="Tên" class="input" />
        </span>

        <span class="p-input-icon-left mb-3">
            <i class="pi pi-lock"></i>
            <input type="tel" pInputText placeholder="Số điện thoại" class="input" />
        </span>

        <span class="p-input-icon-left mb-3">
            <i class="pi pi-envelope"></i>
            <input type="text" pInputText placeholder="Email" class="input" />
        </span>

        <span class="p-input-icon-left mb-3">
            <i class="pi pi-lock"></i>
            <input type="password" pInputText placeholder="Mật khẩu" class="input" />
        </span>

        <span class="p-input-icon-left mb-3">
            <i class="pi pi-lock"></i>
            <input type="password" pInputText placeholder="Xác nhận mật khẩu" class="input" />
        </span>

        <button class="mb-3 sign__button">Đăng ký</button>
    </div>
</div>
